img {
    width: 100%;
}

header {
    background-color: #eebb44;
    padding: 10px;
    margin-bottom: 35px;
}

header h1 {
    margin: 2px;
}

header p {
    margin: 2px ;
}

.card {
    margin: 10px;
    border: 1px solid #e8e7e7;
}

.description {
    margin-left: 15px;
}

.description h4 {
    margin-bottom: 5px;
}

.description p{
    margin-top: 5px;
}
